[submodule "inverte-firmware-v3"]
	path = inverte-firmware-v3
	url = https://github.com/jarco0204/inverte-firmware-v3.git
[submodule "inverte-serverless-v1"]
	path = inverte-serverless-v1
	url = https://github.com/jarco0204/inverte-serverless-v1.git
[submodule "inverte-ai-v1"]
	path = inverte-ai-v1
	url = https://github.com/jarco0204/inverte-ai-v1.git
[submodule "inverte-firmware-v4"]
	path = inverte-firmware-v4
	url = https://github.com/jarco0204/inverte-firmware-v4.git
[submodule "inverte-client-v2"]
	path = inverte-client-v2
	url = https://github.com/jarco0204/inverte-client-v2.git
